#me {
    text-align: right;
}

.nav-item {
    color: white;
}

.container {
    width: 30%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: 30%;
}

#text {
    display: inline;
}