<div class="container">
    <h4>Title</h4>
    <input type="text" name="title" [(ngModel)]="product.title" placeholder="product.title">
    <h4>Price</h4>
    <input type="text" name="title" [(ngModel)]="product.price" placeholder="product.price">
    <h4>Image URL</h4>
    <input type="text" name="title" [(ngModel)]="product.image"><br>
    <button (click)='onUpdate(product._id)' class="btn btn-primary"> Update </button>
    <button (click)='onDelete()' class="btn btn-danger">Delete</button>
</div>