<div class="wrapper">
    <div class="content">
        <div class="form-group">
            <h3>Log In</h3>
            <form (submit)="login()" #f="ngForm" novalidate>
                <label for="email">Email</label>
                <input type="text" name="email" [(ngModel)]="user.email" class="form-control" required [pattern]=emailpattern #email="ngModel">
                <small [hidden]="email.valid || (email.pristine && !f.submitted)">
          <p>Email is required and in proper format</p>
        </small>
                <label for="password">Password</label>
                <input type="text" name="password" [(ngModel)]="user.password" class="form-control" required #password="ngModel">
                <small [hidden]="password.valid || (password.pristine && !f.submitted)">
          <p>Password is required</p>
        </small>
                <br>
                <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Login</button>
                <button [routerLink]="['']" class="btn btn-danger"> Cancel </button>
            </form>
        </div>
    </div>
</div>