.container {
    width: 100%;
}

.p {
    display: inline-block;
    width: 30%;
    margin-top: 5%;
    margin-right: 3%;
}

img {
    width: 100%;
}

.nav-item {
    color: white;
    display: inline;
}

li img {
    display: inline;
}

.navpic{
    border-radius: 50%;
    width:30px; 
    height:30px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0.4em 0.8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.02em 0.01em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button5 {
    background-color: black;
    color: white;
    border: 2px solid #555555;
    border-radius: 5px;
}

.button5:hover {
    background-color: white;
    color: black;
}