.container {
    width: 100%;
}

.p {
    display: inline-block;
    width: 30%;
    margin-top: 5%;
    margin-right: 3%;
}

img {
    width: 100%;
}

.nav-item {
    color: white;
    display: inline;
}

li img {
    display: inline;
}

.navpic{
    border-radius: 50%;
    width:25px; 
    height:25px;
}