.content {
    display: inline-block;
    text-align: left;
    padding: 0.5em;
    margin: 0.5em;
}

.wrapper {
    text-align: center;
}

.form-control {
    width: 40em;
}

small {
    color: red;
}

.nav-item {
    color: white;
    display: inline;
}