<div class="header">
    <nav>
        <div class="logo">
            Treasurify
        </div>
        <ul class="menu">
            <li [routerLink]="['productslist']"> Product List </li> |
            <span *ngIf="!login">
                <li [routerLink]="['signup']"> Sign Up </li> |
                <li [routerLink]="['login']"> Login </li>
            </span>
            <span *ngIf="login">
                <li [routerLink]="['products/new']"> Sell New Product </li> |
                <li (click)="logout()"> Log Out </li>
            </span>
        </ul>
    </nav>
</div>
<video src="https://d2fa3j67sd1nwo.cloudfront.net/video/homepage.7053d1c36d03.mp4" autoplay="" loop=""></video>
