video {
    width: 100%;
    margin-top: -100px;
}

.logo {
    padding: 15px;
    color: white;
    font-size: 30px;
    float: left;
}

.menu {
    margin-left: 41em;
    padding: 1em;
    font-size: 19px;
    display: inline-flex;
}

.menu li {
    color: #fff;
    vertical-align: middle;
    display: inline-block;
}

.menu li a {
    padding: 17px 15px;
    color: hsla(0, 0%, 100%, .8);
    display: inline-block;
    transition: background .2s ease;
}

.menu li a:hover {
    color: white;
}

.header {
    width: 100%;
    z-index: 2;
    position: fixed;
}

agm-map {
    height: 125px;
}