<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Profile</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="right: 29px; position: absolute;">
        <span *ngIf="loginuser && login && loginuser._id == user">  
          <li class="nav-item active" [routerLink]="['/user/edit',loginuser._id]"> Edit |</li> 
          <li class="nav-item active" [routerLink]="['']"> Home | </li>
          <li class="nav-item active" [routerLink]="['/productslist']"> Back | </li>
          <li class="nav-item active" (click)="logout()"> Log Out </li>
        </span>
        <span *ngIf="!login">
          <li class="nav-item active" [routerLink]="['']"> Home | </li>
          <li class="nav-item active" (click)="logout()"> Log Out </li>
        </span>
    </ul>
</nav>
<div *ngIf="loginuser != undefined">
    <div class="display">
        <div class="detail">
          <span class="pic">
            <span *ngIf="loginuser.picture == ''">
              <img src="../assets/img/q.png" alt="nopic">
            </span>
            <span *ngIf="loginuser.picture!=''">
              <img src="{{loginuser.picture}}" alt="{{loginuser.name}}">
            </span>
          </span>
          <span class="text">
              <p>Name: {{loginuser.name}} <img style="width: 24px" src="http://hddfhm.com/images/clipart-messages-17.gif"/></p>
              <p>listing:</p>
              <li *ngFor="let list of loginuser._products"><a [routerLink]="['/products',list._id]">{{list.title}}</a></li>
          </span>
        </div>
    </div>
</div>